*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  background-image: linear-gradient(  hsl(273, 75%, 66%),
  hsl(240, 73%, 65%)
  ); 
  font-family: Kumbh Sans;
  font-weight: 400,700;
  font-size: 12px;
  border-radius: 10px;
  }

.faqsection{
    background-color: white;
    width: 70vw;
    margin: 150px 200px 150px 200px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    height: 60vh;
}

.faqsection1{
    position: relative;
    width: 100%;
    height: 100%;
   
}

.faqsection1__image-box,
.faqsection1__image-box2,
.faqsection1__image-box3 {
    position: absolute;
}

.faqsection1__image-box {
    bottom: 0;
    right: 80px;
     z-index: 10;
     box-shadow: 0.5, black;
}

.faqsection1__image--1{
    color: hsl(240, 5%, 91%);
    opacity: 0.5;
    width: 600px;
    }

.faqsection1__image-box2 {
z-index: 30;
top: 30%;
}

.faqsection1__image-box3 {
    top: 0;
    z-index: 20;
}

.hide{
    opacity: 0;
    
}
.faqsection2{
    margin-top: 30px;
}

.faqsection2__div {
margin-bottom: 30px
}

.faqsection2__paragraph {
    font-size: 30px;
}

.faqsection2__div1 {
    margin-top: 5px;    
    position: relative;
   
      
}

.faqsection2__div1::after {
    position: absolute;
    border-bottom: 2px hsl(240, 1%, 54%) solid;
    content:"" ;
    display: block;
    width: 70%;
    margin-top: -5px;
}



.faqsection2__div1-q1,
.faqsection2__div1-a1
{
font-size: 15px;

}

.faqsection2__div1-a1 {
    margin-bottom: 4px;
   
}

.faqsection2__div1-q1:hover
{
color: hsl(14, 88%, 65%);
cursor: pointer;
}

.faqsection3 {
    position: absolute;
    top: 10%;
    right: 30%;
}

/* .hide2 {
    transform: scaleY(-1);
    
} */

/* .faqsection3img:active{
transform: scaleY(-1);
cursor: pointer;
} */








